@page
@model IssuerVerifiableEmployee.Pages.EmployeeCredentialsModel
@{
    var nonce = this.HttpContext.GetNonce();
}
<h3>@Model.EmployeeMessage</h3>
<br />
<br />

@if (Model.PreferredLanguageMissing)
{
    <a href="~/SetPreferredLanguage">Set your preferred language here</a>
}
@if (Model.HasEmployee)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div>
                    <img width="200" src="data:image;base64,@System.Convert.ToBase64String(Model.Photo!)" style="padding: 5px" />
                    @*<img src="~/images/user-solid.svg" width="200" alt="Employee" style="padding: 5px"/>*@
                    <div>
                        <b>Employee: @Html.DisplayFor(model => model.Employee!.DisplayName)</b>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Employee!.GivenName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Employee!.GivenName)
                            </dd>
                            <dt class="col-sm-4">JobTitle</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Employee!.JobTitle)
                            </dd>
                            <dt class="col-sm-4">Surname</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Employee!.Surname)
                            </dd>
                            <dt class="col-sm-4">Mail</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Employee!.Mail)
                            </dd>
                            <dt class="col-sm-4">Preferred Language</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Employee!.PreferredLanguage)
                            </dd>
                            <dt class="col-sm-4">Account Enabled</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Employee!.AccountEnabled)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <button type="button" id="sign-in" class="btn btn-primary">GET CREDENTIAL</button>
                <div id="qrText"  style="display:none;">
                </div>

                <a id="deeplink" style="display: none;">Tap to open Authenticator on mobile</a>

                <div id="qrcode"></div>
                <br>

                <div id="pinCodeText" style="display: none;text-align: left"/>
                <br>

            </div>

            <div id="message-wrapper"  style="display: none">
                <i class="fas fa-user-check green icon-text-large "></i>
                <div id="message"/>
                <br />
                <div id="payload"/>
            </div>

        </div>
    </div>
}

@section scripts {
    <script src="qrcode.min.js" nonce="@nonce"></script>
    <script src="issuer.js" nonce="@nonce"></script>
}
