@page
@model IssuerVerifiableEmployee.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Details Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee!.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee!.UserName)
        </dd>
        <dt class="col-sm-2">Issued</dt>
        <dd class="col-sm-10">
            @Model.Employee!.IssuedAt.ToString("MM/dd/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee!.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee!.Name)
        </dd>
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee!.FirstName)
        </dd>
        <dt class="col-sm-2">License Type</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee!.LicenseType)
        </dd>
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">
            @Model.Employee.DateOfBirth.ToString("MM/dd/yyyy")
        </dd>
        <dt class="col-sm-2">Issued by</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee!.Issuedby)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee!.Valid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee!.Valid)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.Id"><i class="fa fa-edit fa-2x"></i></a>
    <a asp-page="./User" asp-route-id="@Model.Employee.UserName">Back to List</a>
</div>
